
<title>{{#if title}}{{ title }}{{/if}}{{#if site.title}}{{#if title}} | {{/if}}{{ site.title }}{{/if}}</title>

{{#if site.description}}
<meta name="description" content="{{ site.description }}" />
{{/if}}


{{!-- Twitter Card data --}}

{{#if site.title}}
<meta name="twitter:title" value="{{#if title}}{{ title }}{{/if}}{{#if site.title}}{{#if title}} | {{/if}}{{ site.title }}{{/if}}" />
{{/if}}

{{#if site.twitter.card}}
<meta name="twitter:card" value="{{ site.twitter.card }}" />
{{/if}}

{{#if site.twitter.site}}
<meta name="twitter:site" content="{{ site.twitter.site }}" />
{{/if}}

{{#if site.opengraph.image}}
<meta name="twitter:image:src" content="{{ site.opengraph.image }}" />
{{/if}}

{{#if site.description}}
<meta name="twitter:description" content="{{ site.description }}" />
{{/if}}


{{!-- Open Graph data --}}

{{#if site.title}}
<meta property="og:title" content="{{#if title}}{{ title }}{{/if}}{{#if site.title}}{{#if title}} | {{/if}}{{ site.title }}{{/if}}" />
{{/if}}

{{#if site.description}}
<meta property="og:description" content="{{ site.description }}" />
{{/if}}

{{#if site.opengraph.type}}
<meta property="og:type" content="{{ site.opengraph.type }}" />
{{/if}}

{{#if site.opengraph.url}}
<meta property="og:url" content="{{ site.opengraph.url }}" />
{{/if}}

{{#if site.opengraph.image}}
<meta property="og:image" content="{{ site.opengraph.image }}" />
{{/if}}

{{#if site.opengraph.sitename}}
<meta property="og:site_name" content="{{ site.opengraph.sitename }}" />
{{/if}}

{{#if site.opengraph.locale}}
<meta property="og:locale" content="{{ site.opengraph.locale }}" />
{{/if}}

{{#if site.opengraph.appid}}
<meta property="fb:app_id" content="{{ site.opengraph.appid }}" />
{{/if}}


{{!-- #if site.canonicalroot }}
	<link rel="canonical" href="{{ site.canonicalroot }}/{{ dirname }}/{{ filename }}" />
{{/if--}}
