---
title: Event Sponsorship Opportunities
layout: interior
tier1: $175
tier2: $100
tier3: $50
venuecost: $100
showDetails: true
date: April 20, 2017
time: 6:30pm - 8:00pm
venue: Venue TBD
projectedAttendance: ~50
topic: Prototyping tools, tips and tricks
norobots: true
---

{{#markdown}}
At Calgary UX, we're building a diverse community of user experience professionals across all disciplines and all industries. We bring people together, showcase local talent, and draw inspiration from the broader UX community so we can all grow – together.
{{/markdown}}

<div class="row">
	<div class="col-xs-24 col-md-12">
{{#markdown}}
#### Reach
**600+** UXers on [Meetup](https://www.meetup.com/calgaryux/)
**480+** followers on [Twitter](https://twitter.com/calgaryux)
**90+** followers on [Facebook](https://www.facebook.com/calgaryux/)
**50** attendees (plus speakers) per event

{{/markdown}}
	</div>
	<div class="col-xs-24 col-md-12">
		{{#if showDetails }}
{{#markdown}}

#### Next event
**{{topic}}**
{{!--<label>Date:</label> --}}{{date}} &mdash; {{time}}
{{!--<label>Time:</label> --}}
{{!--<label>Venue:</label> --}}{{venue}}
{{!--<label>Expected attendance:</label> {{projectedAttendance}} people--}}
{{/markdown}}
		{{/if}}
	</div>
</div>

{{#markdown}}
<small>What's that? You already want to sponsor Calgary UX? [Email us](mailto:{{site.emails.sponsorship}}) and let's chat!</small>

-----

## Events at a glance

We aim to host one event per month. We usually take a break in December and July when people have other commitments. The community thrives on Rapid-fire talks and that is our focus (though we'll mix it up occasionally to keep things engaging).

### Who attends Calgary UX events?
* User Experience (UX) designers
* Information architects
* Content strategists
* Interaction designers
* Developers
* Entrepeneurs
* Product owners and managers


{{!--
### What is a Rapid-fire talk?

Rapid-fire talks are a rapid presentation format that lets community members and practitioners share stories of triumph, defeat, and excitement. It's like a [TED Talk](http://www.ted.com/talks) but we don't limit slides. The time goes fast so speakers really focus on communicating one or two clear messages.

The format includes 3-5 speakers per event. Each speaker gets 15 minutes: 10 minutes to present and 5 minutes for Q&A. We take a short break between each speaker to make announcements and promote our sponsors.
--}}

## Sponsorship packages

**Sponsors make Calgary UX events possible**. Your contributions ensure great venues, an A/V experience that reaches the full audience, attendee book draws, and refreshments to keep all of the active minds nourished!

We offer three sponsorship levels. If our packages don't provide the exposure you're looking for, [email us](mailto:{{site.emails.sponsorship}}) and we'll figure something out together.

### Sponsor benefits

Introduce your brand and your company to our growing network of talented people in the Calgary community. Tell a little bit of your story to attract new business and new talent.

All sponsors get to promote their brand:
* Company information posted on the Meetup invitation seen by 600+ UXers
* Company name and URL shared on the event sponsors intro slide and during breaks
* Verbal recognition by hosts throughout the event

### Premiere event sponsor – {{tier1}}
* Designated sponsor welcome slide displayed while attendees arrive
* Social media announcement of sponsorship to almost 600 followers
* Additional company logo and summary included on Meetup invite
* Company logo, name, and URL included in all sponsorship references
* Reserved admission for 3 people
* _1 sponsorship available per event_

### Event sponsor – {{tier2}}
* Social media announcement of sponsorship to almost 600 followers
* Additional company logo included on Meetup invite
* Company name and URL included in all sponsorship references
* Reserved admission for 2 people
* _2 sponsorships available per event_

### Contributing sponsor – {{tier3}}
* Brand promotion to our followers and audience
* Company name and link included on Meetup invite
* Reserved admission for 1 person
* _3 sponsorships available per event_


{{!-- Big star: &#9733; // Big star outline: &#9734; 

| Brand exposure | Tier 1 | Tier 2 | Tier 3 | Venue |
|:----- |:-----:|:-----:|:-----:|:------:|
| | {{tier1}} | {{tier2}} | {{tier3}} | {{venuecost}} |
| Designated sponsor welcome slide | &#9733; ||||
||||||
| Social media announcement as sponsor to XXX followers | &#9733; | &#9733; |||
| Event sponsors intro slide | &#9733; | &#9733; | &#9734; | &#9733; |
| Screen-time during breaks | &#9733; | &#9733; | &#9734; | &#9733; |
| Details on Meetup event (600+ ppl) | &#9733; | &#9733; | &#9734; | &#9734; |
| Company name on screen during breaks | &#9733; | &#9733; | &#9733; | &#9733; |
| Sponsorships available | 1 | 2 | 3 | 1 |

After party (first round)
--}}


## Contact info
We're always looking for the next great company to sponsor our events. Take a look at the sponsorship packages, then email us at [{{site.emails.sponsorship}}](mailto:{{site.emails.sponsorship}}) to partner on an event!

<div class="cta">
	<a href="mailto:{{site.emails.sponsorship}}?subject=I want to sponsor one of your events!" class="cta__button">Sponsor a Calgary UX Event</a>
	<p class="cta__microcopy">
		We look forward to partnering with you!
	</p>
</div>

-----

#### Recent event sponsors

{{> past-sponsors }}

{{/markdown}}