---
title: Annual Sponsorship Opportunities
layout: interior
sponsorship: $500+
showDetails: true
date: April 20, 2017
time: 6:30pm - 8:00pm
venue: Venue TBD
projectedAttendance: ~50
topic: Prototyping tools, tips and tricks
norobots: false
---

{{#markdown}}
At Calgary UX, we're building a diverse community of user experience professionals across all disciplines and all industries. We bring people together, showcase local talent, and draw inspiration from the broader UX community so we can all grow – together.
{{/markdown}}

<div class="row">
	<div class="col-xs-24 col-md-12">
{{#markdown}}
#### Reach
**600+** UXers on [Meetup](https://www.meetup.com/calgaryux/)
**480+** followers on [Twitter](https://twitter.com/calgaryux)
**90+** followers on [Facebook](https://www.facebook.com/calgaryux/)
**50** attendees (plus speakers) per event
{{/markdown}}
	</div>
	<div class="col-xs-24 col-md-12">
		{{#if showDetails }}
{{#markdown}}
#### Next event
**{{topic}}**
{{date}} &mdash; {{time}}
{{venue}}
{{/markdown}}
		{{/if}}
	</div>
</div>

{{#markdown}}
-----

## Events at a glance

We aim to host one event per month, six months of the year. We usually take a breaks in summer and winter when people have other commitments. The community thrives on rapid-fire talks but we mix it up occasionally to keep events engaging.

### Who attends Calgary UX events?

- User Experience (UX) designers
- Information architects
- Content strategists
- Interaction designers
- Developers
- Entrepreneurs
- Product owners and managers
- Designers of many flavours!

## Sponsorship packages

**Sponsors make Calgary UX possible**. Every sponsorship dollar goes into hosting great events and keeping the community connected: from keeping people connected on Meetup and minimizing costs to attendees, to securing great venues and supplying snacks and refreshments at events. We want to make the experience people have with Calgary UX a memorable one.

### Annual sponsorship – {{ sponsorship }}
Introduce your brand and your company to our growing network of talented people in the Calgary community. Tell a little bit of your story to attract new business and new talent.

As an annual sponsor, you’ll receive the following at each event for a year:

* Recognition as a sponsor on our Meetup group page and CalgaryUX.com
* All event invitations – seen by 600+ local UXers – highlight your company logo and website
* Visual and verbal acknowledgement of sponsorship at the beginning and end of each event
* Designated sponsor welcome slide displayed to event attendees
* Promotion on social media of your sponsorship
* Opportunities to make a “call for talent” and be the first to announce hiring opportunities
* Reserved admission for up to 3 people at each event

In addition to increased brand exposure, you’re helping support a vibrant user experience community that genuinely appreciates your support.

### Event sponsorship – Negotiable
Once a year we host a premier event with speakers from around the globe. In 2016, we hosted Kim Lenox, Director of Product Design at LinkedIn, to a sold-out crowd of over 130 attendees. These events include additional sponsorship opportunities. Just let us know if you’d like to [contribute](mailto:{{site.emails.sponsorship}}?subject=I%20want%20to%20sponsor%20one%20of%20your%20events!).

## Contact info

We're always looking for the next great company to sponsor our community. Take a look at the sponsorship package, then email us at [{{site.emails.sponsorship}}](mailto:{{site.emails.sponsorship}}) to partner up!

{{/markdown}}
<div class="cta">
	<a href="mailto:{{site.emails.sponsorship}}?subject=I%20want%20to%20sponsor%20one%20of%20your%20events!" class="cta__button">Sponsor Calgary UX</a>
	<p class="cta__microcopy">
		We look forward to partnering with you!
	</p>
</div>
{{#markdown}}
-----

#### Past sponsors

{{> past-sponsors }}

{{/markdown}}